.DS_Store
*.log
node_modules/*
python/*.pyc
python/errorlog.txt
python/errorpgc.txt
python/errpgc.txt
tmp/*
.monitor
transifex.auth
docker/base_stack/envs.docker.sh
docker.env
envs.docker.sh
envs.docker.sh.2
.env
env
.gitignore
