export DBHOST=
export DBNAME=
export DBOWNER=
export DBPORT=
export PGPASS=
export DATABASE_URL=""

export USGS_ACCOUNT=
export USGS_PASSWORD=

export FACEBOOK_APP_SECRET=
export FACEBOOK_APP_ID=
export FACEBOOK_PROFILE_ID=
export TWITTER_SITE=
export TWITTER_SITE_ID=
export TWITTER_CREATOR=
export TWITTER_CREATOR_ID=
export TWITTER_DOMAIN=
export COOKIEHASH=

export MAPBOX_PUBLIC_TOKEN=
export MAPBOX_SECRET_TOKEN=

export AWS_ACCESSKEYID=
export AWS_SECRETACCESSKEY=
export AWS_REGION=
export AWS_QUEUE_URL=

export PAPERTRAIL_API_TOKEN=
export FORECAST_API_KEY=

export DATA_DIR=/app/user/tmp
export PATH=/app/user/.heroku/node/bin/:/app/user/node_modules/.bin:/app/user/python:$PATH
export LIBRARY_PATH=/usr/local/lib:$LIBRARY_PATH
export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
export PYTHON_PATH=/app/user/python

export FASTMAIL_PASSWORD=
export FASTMAIL_SMTP=
export FASTMAIL_USER=

alias vin=vim.tiny

