<div class='container'>
	<h1><p style="color:#d3d3d3">ESRI Feature Service Support Page</p></h1> <br/>
	<hr/>
	
	<h2><%= prefix %></h2>
	
	<div class='well'>
		<ul>
		<li><a href='http://resources.arcgis.com/en/help/arcgis-rest-api/'>ArcGIS REST API</a></li>
		<li><a href='http://resources.arcgis.com/en/help/main/10.2/index.html#//0154000002w8000000'>
			What is a Feature service</a></li>
		<li><a href='https://esri.github.io/esri-leaflet/'>Esri Leaflet Javascript Library</a></li>
		</ul>
		
	</div>
	<div>
		<p>
			We are providing this interface for our ESRI ArcGIS users.  We do love Leaflet.js and we take advantage of the ESRI-Leaflet library.  This example does use ESRI Maps and the ESRI ArcGIS Javascript REST API.
		</p>
		<p>Please Find Live Example: <a href="<%= example %>">Here</a> </p>
	</div>
</div>