<h2>OJO-Bot Home</h2>
	<br/>
	<p>This is the regional publisher of various products defined <a href='/products'>here</a>
	</p>

<div class="panel panel-default panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">WARNING</h3>
  </div>
  <div class="panel-body">
	These products are NOT operational and cannot be used as such. Thank you.
  </div>
</div>
	

