<html>
<head>
    <meta charset='utf-8' />
    <title>Server Side Vector Tiling and OpenGL on the Client Side</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    
	<link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.25.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
		
		    #menu {
		        background: #fff;
		        position: absolute;
		        z-index: 1;
		        top: 10px;
		        right: 10px;
		        border-radius: 10px;
			    box-shadow: 0 0 15px rgba(0,0,0,0.2);
		        width: 120px;
		        border: 1px solid rgba(0,0,0,0.4);
		        font-family: 'Open Sans', sans-serif;
				opacity: 0.4;
		    }

		    #menu a {
		        font-size: 13px;
		        color: #404040;
		        display: block;
		        margin: 0;
		        padding: 0;
		        padding: 10px;
		        text-decoration: none;
		        border-bottom: 1px solid rgba(0,0,0,0.25);
		        text-align: center;
		    }

		    #menu a:last-child {
		        border: none;
		    }

		    #menu a:hover {
		        background-color: #f8f8f8;
		        color: #404040;
		    }

		    #menu a.active {
		        background-color: #3887be;
		        color: #ffffff;
		    }

		    #menu a.active:hover {
		        background: #3074a4;
		    }
			.map-overlay {
			    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
			    position: absolute;
			    width: 20%;
			    top: 0;
			    left: 0;
			    padding: 10px;
			}

			.map-overlay .map-overlay-inner {
			    background-color: #fff;
			    box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
			    border-radius: 3px;
			    padding: 10px;
			    margin-bottom: 10px;
				opacity: 0.5;
			}

			.map-overlay .map-overlay-inner a {
				color: #3887be;
			}

			.map-overlay h2 {
			    line-height: 24px;
			    display: block;
			    margin: 0 0 10px;
			}

			.map-overlay .legend .bar {
			    height: 10px;
			    display: inline-block;
			}

			.map-overlay input {
			    background-color: transparent;
			    display: inline-block;
			    width: 100%;
			    position: relative;
			    margin: 0;
			    cursor: ew-resize;
			}		
			
			#download_button {
				position: absolute;
				top: 140;
				right: 10px;
				z-index: 2;
				color: #3887be;
			}
			
			#download_button a {
				color: #3887be;
			}
			
			.download {
				position: absolute;
			    background: white;
			    background: rgba(255,255,255,0.5);
			    box-shadow: 0 0 15px rgba(0,0,0,0.2);
			    border-radius: 25px;
			    border: 2px solid #73AD21;
			    padding: 20px; 
				top: 130px;
				right: 30px;
				float: right;
				margin-right: 10;
				z-index: 9999;
			}

    </style>
</head>
<body>
<script>
	var AddOne, SubTractOne,Play
</script>
<nav id="menu"></nav>
<div id='download_button'>
	<a href='Javascript:ShowDownload();'><i class='fa fa-download'></i></a>
</div>
<div id='map'></div>
 <div class='map-overlay top'>
     <div class='map-overlay-inner'>
         <label id='DateLabel'></label>
		 <table>
			 <tr><td>
				 <a href='Javascript:SubtractOne()'><i class='fa fa-backward'></i></a>
				 <a href='Javascript:Play()'><i id='play' class='fa fa-play'></i></a>
				 <a href='Javascript:AddOne()'><i class='fa fa-forward'></i></a>
			 </td>
			 <td>
		 		<input id='slider' type='range' min='0' max='7' step='1' value='7' />
			</td></tr>
		</table>
     </div>
 </div>

<div id='download' class='download' style="display:none">
	<form action='/test/download' method='post' class='form-horizontal'>
		<span><b>Download:</b></span><br/><br/>
		<input type='hidden' name='date' id='date' value='2016-05-15'/>
		<div class="radio">
			<label>
				<input type='radio' name="which" id="precip" value='precipitation' checked>
				precipitation
			</label>
		</div>
		<div class="radio">
			<label>
				<input type='radio' name="which" id="flood" value='flood'>
				flood
			</label>
		</div>
		<div class="radio">
			<label>
				<input type='radio' name="which" id="landslide" value='landslide'>
				landslide
			</label>
		</div>
		<hr/>
		<div class="radio">
			<label>
				<input type='radio' name="format" id="topojson" value='topojson' checked>
				topojson
			</label>
		</div>
		<div class="radio">
			<label>
				<input type='radio' name="format" id="geoojson" value='geojson' >
				geoojson
			</label>
		</div>
		<div class="radio">
			<label>
				<input type='radio' name="format" id="shape" value='shape' >
				shape
			</label>
		</div>
		<div class="radio">
			<label>
				<input type='radio' name='format' id='kml' value='kml' >
				kml
			</label>		
		</div>
			<br/>
		
		<button type="submit" class="btn btn-primary">Submit</button>	
	<form>
</div>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.25.0/mapbox-gl.js'></script>
<script src='/js/moment.js'></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script>
mapboxgl.accessToken = '<%- token %>';
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/basic-v9', //hosted style id
    center: [<%=longitude%>, <%=latitude%>], // starting position
    zoom: 4 // starting zoom
});
var host = '<%= host %>'

var startTime 	= moment().subtract('days', 1)

// Check if we are past 14:00PM
var hr = startTime.hour()
if(hr < 14 ) {
	startTime 	= moment().subtract('days', 2)
}
console.log("Hour", hr, "startTime", startTime.format("YYYY-MM-DD"))

var dt			= startTime
$('#DateLabel').html(dt.format("YYYY-MM-DD"))

function ShowDownload() {
	$('#download').toggle()
}


</script>
<script src='/js/testgl.js'></script>
</body>
</html>